@using SolidCP.WebDavPortal.Resources
@using SolidCP.WebDavPortal.UI.Routes
@model SolidCP.WebDavPortal.Models.Account.PasswordResetLoginModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container row">
    @using (Html.BeginRouteForm(AccountRouteNames.PasswordResetLogin, FormMethod.Post, new { @class = "user-password-reset-email bs-val-styles col-lg-10 col-lg-offset-3", id = "user-password-reset" }))
    {
        <div class="form-group">
            <h3>@UI.PasswordReset</h3>
        </div>
        <div class="form-group">
                <label for="@Html.IdFor(x => x.Email)" class="control-label">@UI.PasswordResetEmailInfo</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = UI.Login })
                @Html.ValidationMessageFor(x => x.Email)
        </div>
        <button type="submit" class="btn btn-default">@UI.Next</button>
    }
</div>
